
/* ----- 1/ GENEREAL STYLES ----- */

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  color: #2F4858;
  font-size: .9rem;
  background-color: white;
  background-image: linear-gradient(#E1F5F3 1px, transparent 1px),
  linear-gradient(90deg, #E1F5F3 1px, transparent 1px),
  linear-gradient(#E1F5F3 1px, transparent 1px),
  linear-gradient(90deg, #E1F5F3 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position:-1px -1px;
}


.container {
  width: 80vw;
  margin: 20px auto;
}


h1, h2, h3, h4 {
  margin: 10px;
  font-family: 'Cabin', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}

h1 {
  font-size: 2.8rem;
  color: #3BA99C;
}

h2 {
  font-size: 2rem;
  color: #3BA99C;
}

h3 {
  color: #8CDBB1;
  font-size: 1.6rem;
}

h4 {
  font-size: 1.6rem;
  color: #7A8A94;
}

a {
  font-family: 'Space Mono', monospace;
  text-decoration: none;
  color: #8BA6A9;
  font-size: .8rem;
  padding: 6px 12px;
}

a:hover {
  background: #8BA6A9;
  color: white;
  transition: all 0.3s ease-out;
}

ul {
  padding-inline-start: 0px;
}


/* ----- 2/ SIDEBAR ----- */

#sidebar {
  text-align: center;
}

#sidebar a {
  color: #2F4858;
}

#sidebar a:hover {
  color: white;
  background: #2F4858;
}


/* ----- 3/ CONTENT ----- */

.card {
  background: white;
  margin: 20px auto;
  border-radius: 3px;
  text-align: center;
  padding: 20px 26px;
  outline: 1px solid #82C8C0;
  outline-offset: -12px;
}

/* ----- 3.1/ HEADER CARD ----- */

#profile-pic {
  max-width: 300px;
  margin: auto;
  border-radius: 50%;
}

h3#header-subtitle {
  margin: 20px auto;
}

h3#header-subtitle span {
  color: #ADE5DF;
  font-weight: 400;
  font-size: 1rem;
  border-top: 3px solid #ADE5DF;
  border-bottom: 3px solid #ADE5DF;
  padding-top: 6px;
  padding-bottom: 6px;
}

p#about-me {
  font-size: 1.1rem;
  max-width: 70%;
  margin: auto;
}

#about-me span {
  font-weight: 800;
  line-height: 1rem;
}

/* ----- 3.2/ SOCIAL MEDIA CARD ----- */

#social-media ul {
  margin-top: 24px;
  list-style: none;
  padding-inline-start: 0px;
}


.list-inline > li {
  display: inline-block;
}

li a {
  display: block;
}

i {
  color: #8BA6A9;
  font-size: 1.4rem;
  margin-bottom: 4px;
}


/* ----- 3.3/ TABLE STYLES ----- */

.love-things-img {
  max-width: 400px;
}


/* ----- 3.4/ HELVETICA CARD ----- */

.card img {
  width: 80%;
  margin: auto;
}


/* ----- 3.5/ LE WAGON CARD ----- */

#button-cta {
  margin: 22px auto;
}

#button-cta a{
  background: #3BA99C;
  color: white;
  padding: 8px 16px;
  border: 3px solid #3BA99C;
}

#button-cta a:hover {
  color: #3BA99C;
  background: white;
}

/* ----- 4/ FOOTER ----- */

#credits-love {
  font-size: .6rem;
  color: #3BA99C;
  position: fixed;
  right: 2vw;
  bottom: 20vh;
  transform: rotate(90deg);
  transform-origin: right bottom;
}

#credits-love i {
  font-size: .6rem;
  color: #3BA99C;
}

/* ----- 5/ RESPONSIVE THINGS ----- */


@media (min-width: 860px) {

  .container {
    width: 64vw;
    margin: 18px auto;
  }

} /* end of 860 px*/


@media (min-width: 1024px) {

  #sidebar {
    position: fixed;
    left: 0px;
    top: 40vh;
    transform: rotate(-90deg);
  }

  .container {
    width: 52vw;
    margin: 16px auto;
  }

  .card {
    padding: 30px 34px;
    outline-offset: -16px;
  }

  /* ----- 5.2/ HEADER CARD ----- */

  p#about-me {
    font-size: 1.1rem;
    max-width: 70%;
    margin: auto;
  }

  #about-me span {
    font-weight: 800;
    line-height: 2rem;
  }


  .element {
    position: relative;
    z-index: 10;
    margin-bottom: 40px;
  }

  .element-legend {
    position: absolute;
    bottom: 24px;
    left: 50%;
    z-index: 100;
    background: #F0FAF9;
    padding: 12px
  }

  .love-things-img {
    max-width: 500px;
  }

  #credits-love {
    font-size: .8rem;
    position: fixed;
    right: 2vw;
    bottom: 2vh;
    transform: rotate(90deg);
    transform-origin: right bottom;
  }

  #credits-love i {
    font-size: .8rem;
  }

} /* end of 1024 px*/

